<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @visual.image %>
			<p>
			  <%= @visual.description %>
			</p>
			<p>
			  <%= @visual.user.name %>
			</p>
			<% if current_user == @visual.user %>
				<%= link_to 'Edit', edit_visual_path(@visual) %> |
				<% end %>
			<%= link_to 'Back', visuals_path %>
		</div>	
	</div>
</div>